@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');

:root {
    font-family: "Inter", sans-serif;
    --dark-blue: #263B4E;
    --smooth-blue: #334E68;
    --light-blue: #4A6572;
    --white: #fff;
    --black: #000;
    --smooth-orange: #A38B79;
    --light-orange: #FFB44A;
    --page-background-color: #F0F0F0;
    --green: #3BAF9F;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: var(--page-background-color);
}

button {
    cursor: pointer;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-block-size: 100vh;
    padding: 0 155px;
}

li {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    #app {
        padding: 0 30px;
    }
}

@media (width:425px) {
    #app {
        padding: 0 15px;
    }
}

@media (width:1024px) {
    #app {
        padding: 0 60px;
    }
}
