@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap");
@import "tailwindcss";

:root {
    --white-color: #fff;
    --dark-red-color: #950c00;
    --background-page-color: #e5e7eb;
    --black-color: #000;
    --line-color: #d7d7d7;
    --add-info-color: #4c4c4c;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-page-color);
}

#app {
    height: fit-content;
    max-width: 1440px;
    padding: 0 80px;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
